<ion-view title="Berechnungshinweise" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="berechnungshinweise-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#F60505;">Alle Berechnungen erfolgen ohne Gewähr!</p>
    </div>
    <h3 id="berechnungshinweise-heading5">Linearen Notenschlüssel</h3>
    <div id="berechnungshinweise-markdown2" class="show-list-numbers-and-dots">
      <p>Zur Berechnung der Note wird der lineare Notenschlüssel angewendet:</p>
    </div>
    <div id="berechnungshinweise-markdown4" class="show-list-numbers-and-dots">
      <p>Note = 6-5*(Erreichte Punkte / Grundlage)</p>
    </div>
    <h3 id="berechnungshinweise-heading6">Prozent-Notenpunkte</h3>
    <div id="berechnungshinweise-markdown5" class="show-list-numbers-and-dots">
      <p>Für die Berechnung der Notenpunkte werden zunächst die erreichten Lösungsprozent (Erreichte Punkte / Grundlage *100) berechnet und dieser Prozentwert in der Lösungstabelle nachgeschaut.</p>
    </div>
    <h3 id="berechnungshinweise-heading7">Haftungsausschluss</h3>
    <h4 id="berechnungshinweise-heading8">Haftung für Inhalte</h4>
    <div id="berechnungshinweise-markdown6" class="show-list-numbers-and-dots">
      <p>Der Notenrechner wurde mit größter Sorgfalt erstellt. Für die Richtigkeit der Inhalte kann ich jedoch keine Gewähr übernehmen. Insbesondere gilt das dafür, ob die Art der Notenberechnung rechtens ist.</p>
    </div>
    <h3 id="berechnungshinweise-heading9">Impressum</h3>
    <div id="berechnungshinweise-markdown7" class="show-list-numbers-and-dots">
      <p>Thorsten Freimann</p>
    </div>
    <div id="berechnungshinweise-markdown8" class="show-list-numbers-and-dots">
      <p>Kontakt: tfreimann@gmx.de</p>
    </div>
  </ion-content>
</ion-view>