<ion-view title="Notenpunkte-Schlüssel" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="notenpunkteSchlSsel-form6" class="list">
      <label class="item item-input" id="notenpunkteSchlSsel-input10">
        <span class="input-label">sehr gut - 15</span>
        <input ng-model="fuenfzehn" type="text" pattern="[0-9]*" placeholder="94,4">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input11">
        <span class="input-label">sehr gut - 14</span>
        <input ng-model="vierzehn" type="text" pattern="[0-9]*" placeholder="90,0">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input9">
        <span class="input-label">sehr gut - 13</span>
        <input ng-model="dreizehn" type="text" pattern="[0-9]*" placeholder="84,4">
      </label>
    </form>
    <form id="notenpunkteSchlSsel-form8" class="list">
      <label class="item item-input" id="notenpunkteSchlSsel-input14">
        <span class="input-label">gut - 12</span>
        <input ng-model="zwoelf" type="text" pattern="[0-9]*" placeholder="80,0">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input15">
        <span class="input-label">gut - 11</span>
        <input ng-model="elf" type="text" pattern="[0-9]*" placeholder="74,4">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input16">
        <span class="input-label">gut - 10</span>
        <input ng-model="zehn" type="text" pattern="[0-9]*" placeholder="70,0">
      </label>
    </form>
    <form id="notenpunkteSchlSsel-form9" class="list">
      <label class="item item-input" id="notenpunkteSchlSsel-input17">
        <span class="input-label">befriedigend - 9</span>
        <input ng-model="neun" type="text" pattern="[0-9]*" placeholder="64,0">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input18">
        <span class="input-label">befriedigend - 8</span>
        <input ng-model="acht" type="text" pattern="[0-9]*" placeholder="60,0">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input19">
        <span class="input-label">befriedigend - 7</span>
        <input ng-model="sieben" type="text" pattern="[0-9]*" placeholder="54,0">
      </label>
    </form>
    <form id="notenpunkteSchlSsel-form10" class="list">
      <label class="item item-input" id="notenpunkteSchlSsel-input20">
        <span class="input-label">ausreichend - 6</span>
        <input ng-model="sechs" type="text" pattern="[0-9]*" placeholder="50,0">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input21">
        <span class="input-label">ausreichend - 5</span>
        <input ng-model="fuenf" type="text" pattern="[0-9]*" placeholder="44,0">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input22">
        <span class="input-label">ausreichend - 4</span>
        <input ng-model="vier" type="text" pattern="[0-9]*" placeholder="36,0">
      </label>
    </form>
    <form id="notenpunkteSchlSsel-form11" class="list">
      <label class="item item-input" id="notenpunkteSchlSsel-input23">
        <span class="input-label">mangelhaft - 3</span>
        <input ng-model="drei" type="text" pattern="[0-9]*" placeholder="28,0">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input24">
        <span class="input-label">mangelhaft - 2</span>
        <input ng-model="zwei" type="text" pattern="[0-9]*" placeholder="19,0">
      </label>
      <label class="item item-input" id="notenpunkteSchlSsel-input25">
        <span class="input-label">mangelhaft - 1</span>
        <input ng-model="eins" type="text" pattern="[0-9]*" placeholder="11,0">
      </label>
    </form>
    <form id="notenpunkteSchlSsel-form12" class="list">
      <label class="item item-input" id="notenpunkteSchlSsel-input26">
        <span class="input-label">ungenügend - 0</span>
        <input ng-model="null_" type="text" pattern="[0-9]*" placeholder="0,0">
      </label>
    </form>
  </ion-content>
</ion-view>