<ion-view title="Notenrechner" id="page1">
  <ion-content padding="true" class="has-header has-footer">


    <h2 style="text-align : center;" class="h1s">
		{{((erreicht/grundlage)*100) | prozentFilter}} Punkte<br>
      Note {{(6-5*(erreicht/grundlage)) | number:1}} <br>

	  <div>{{((erreicht/grundlage)*100) | number:1}} %</div>
  </h2>
	<div class="row text-center">
		<card  ng-class="isErreicht ? 'passiv' : 'aktiv'" ng-click="grundlage = ''; isErreicht=false" class="card col-6"><small>Beste Note vergeben ab:</small><br><b>{{grundlage}}</b></card>
		<card  ng-class="isErreicht ? 'aktiv' : 'passiv'" ng-click="erreicht = ''; isErreicht=true" class="card col-6"><small>Erreichte Punkte:</small><br><b>{{erreicht}}</b></card>
	</div>

	<div class="row">
		<button ng-click="isErreicht ? erreicht=erreicht + '7' : grundlage=grundlage +'7'" class="button col-3">7</button>
		<button ng-click="isErreicht ? erreicht=erreicht + '8' : grundlage=grundlage +'8'" class="button col-3">8</button>
		<button ng-click="isErreicht ? erreicht=erreicht + '9' : grundlage=grundlage +'9'" class="button col-3">9</button>
		<button ng-click="isErreicht ? erreicht = '' : grundlage = ''" class="button col-3">C</button>
	</div>
	<div class="row">
		<button ng-click="isErreicht ? erreicht=erreicht + '4' : grundlage=grundlage +'4'" class="button col-3">4</button>
		<button ng-click="isErreicht ? erreicht=erreicht + '5' : grundlage=grundlage +'5'" class="button col-3">5</button>
		<button ng-click="isErreicht ? erreicht=erreicht + '6' : grundlage=grundlage +'6'" class="button col-3">6</button>
		<button ng-click="isErreicht ? erreicht=erreicht.slice(0,-1) : grundlage=grundlage.slice(0,-1)" class="button icon	ion-backspace col-3"></button>
	</div>
	<div class="row">
		<button ng-click="isErreicht ? erreicht=erreicht + '1' : grundlage=grundlage +'1'" class="button col-3">1</button>
		<button ng-click="isErreicht ? erreicht=erreicht + '2' : grundlage=grundlage +'2'" class="button col-3">2</button>
		<button ng-click="isErreicht ? erreicht=erreicht + '3' : grundlage=grundlage +'3'" class="button col-3">3</button>
		<button ng-click="isErreicht ? erreicht = '30'  : grundlage='30'" class="button col-3">30</button>
	</div>
	<div class="row">
		<button ng-click="isErreicht ? erreicht = erreicht + '0' : grundlage=grundlage +'0' " class="button col-6">0</button>
		<button ng-click="isErreicht ? erreicht = erreicht + '.' : grundlage = grundlage + '.'" class="button col-3">,</button>
		<button ng-click="isErreicht ? erreicht =  '60' :  grundlage =  '60'" class="button col-3">60</button>
	</div>
	<ion-icon name="backspace"></ion-icon>

</ion-content>

	<div class="tabs tabs-icon-left">
    <!-- <div id="notenrechner-button-bar2" class="button-bar"> -->
      <!-- <a ui-sref="notenrechner2()" id="notenrechner-button10" class="button button-positive button-block icon ion-ios-information-outline"></a> -->

      <!-- <a ui-sref="notenpunkteSchlSsel()" id="notenrechner-button11" class="button button-positive button-block icon ion-document"></a> -->
      <a ui-sref="notenrechner2()"  class="tab-item">
        <i class="icon ion-ios-information-outline"></i>
          Berechnungshinweise
        </a>
			<a ui-sref="notenpunkteSchlSsel()"  class="tab-item" >
  			<i class="icon ion-document"></i>
  			Notenpunkte-Schlüssel
			</a>



    </div>



</ion-view>
