<ion-view title="Bedienungshinweise" id="page4">
  <ion-content padding="true" class="has-header">
    <h2 id="notenrechner2-heading1" style="color:#000000;">Berechnungshinweise</h2>
    <h4 id="notenrechner2-heading3" style="color:#000000;">Berechnung nach dem linearen Notenschlüssel</h4>
    <div id="notenrechner2-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Zur Berechnung der Note wird der
        <strong>lineare Notenschlüssel</strong> angewendet:</p>

      <p style="color:#000000;">
        <strong>Note</strong> = 6-5*(Erreichte Punkte / Grundlage) </p>
    </div>
    <h4 id="notenrechner2-heading4" style="color:#000000;">Berechnung Prozent-Notenpunkte</h4>
    <div id="notenrechner2-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Für die Berechnung der Notenpunkte werden zunächst die erreichten Lösungsprozent (Erreichte Punkte / Grundlage *100) berechnet und dieser Prozentwert in der
        <strong>Lösungstabelle</strong> nachgeschaut</p>
    </div>
    <h2 id="notenrechner2-heading8" style="color:#000000;">Haftungsausschluss</h2>
    <h5 id="notenrechner2-heading9" style="color:#000000;">Haftung für Inhalte</h5>
    <div id="notenrechner2-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Der Notenrechner wurde mit größter Sorgfalt erstellt. Für die Richtigkeit der Inhalte kann ich jedoch keine Gewähr übernehmen. Insbesondere gilt das dafür, ob die Art der Notenberechnung rechtens ist. </p>
    </div>
    <h2 id="notenrechner2-heading5" style="color:#000000;">Impressum</h2>
    <h5 id="notenrechner2-heading6" style="color:#000000;">Thorsten Freimann</h5>
    <div id="notenrechner2-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Kontakt</strong>: tfreimann@gmx.de</p>
    </div>
  </ion-content>
</ion-view>