<ion-view title="Notenpunkte-Schlüssel" id="page3">
  <ion-content padding="true">

    <button ng-click="setDefault()">Zurücksetzen</button>
    <form class="list">
      <label ng-repeat="r in Data.records | orderBy:'-'" class="item item-input" id="notenpunkteSchlSsel-input10">

        <span class="input-label">{{r.Note}} - {{r.Punkte}}</span>

        <input ng-model="r.Prozent" type="text" pattern="[0-9]*" placeholder={{r.Prozent}}>
      </label>

    </form>


  </ion-content>
</ion-view>
