<ion-view title="Zeugnisrechner" id="page5" style="background-color:default;">
  <ion-content padding="true" scroll="false" class="has-header">
    <h1 id="zeugnisrechner-heading17" style="color:#0B1B81;font-weight:lighter;text-align:center;">Note: 4 (4+)</h1>
	
    
	
	<div id="zeugnisrechner-button-bar12" class="button-bar"></div>
    
	
	<p class="item-content" style="text-align : center;">{{value | valueFilter}}Mündlich <strong>{{Data.muendlich}}</strong> : Schriftlich <strong>{{Data.schriftlich}}</strong> </p>
	
	<label class="item ">
    
    <div class="range range-positive">
       
        <input type="range" name="range" ng-model="$parent.value" min="{{min}}"  max="{{max}}">
     
    </div>
</label>
	
	
	

    <button id="zeugnisrechner-button42" class="button button-positive button-block icon ion-android-add"> Schriftliche Leistung</button>
    <ion-list id="zeugnisrechner-list3">
      <ion-item id="zeugnisrechner-list-item12">Leistung: 3,5 Gewichtung: 4
        <ion-option-button class="button-assertive">Löschen</ion-option-button>
      </ion-item>
      <ion-item id="zeugnisrechner-list-item13">Leistung: 1,0 Gewichtung: 1
        <ion-option-button class="button-assertive">Löschen</ion-option-button>
      </ion-item>
    </ion-list>
    <button id="zeugnisrechner-button43" class="button button-positive button-block icon ion-android-add"> Mündliche Leistung</button>
    <ion-list id="zeugnisrechner-list4">
      <ion-item id="zeugnisrechner-list-item18">Leistung: 3,0 Gewichtung: 4</ion-item>
      <ion-item id="zeugnisrechner-list-item19">Leistung: 2,0 Gewichtung: 4</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
